.rainbow-background {
    background: url('/assets/images/rainbow.png') no-repeat center center fixed;
    background-size: cover;
}

.short-audio {
    width: 100px;
}

.no-margin {
    margin: 0;
}
